In [2]:
import pandas as pd
import os as os

In [3]:
csvsheet = 'budget_data.csv'
csvsheet = pd.read_csv(csvsheet)
csvsheet.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [5]:
csvin = csvsheet.set_index("Date")
csvin.head()

        Revenue
Date
Oct-12  1154293
Nov-12   885773
Dec-12  -448704
Jan-13   563679
Feb-13   555394